# Node.js specific
node_modules/
# npm-debug.log
# yarn-error.log
# config/
# config/db.config.js
.env

# Dependency directories
# /node_modules

# Optional npm cache directory
.npm

# OS-specific files
.DS_Store
Thumbs.db
